@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 60% 98%;
    --foreground: 0 85% 6%;
    --btn-background: 0 30% 91%;
    --btn-background-hover: 0 30% 86%;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: 345 50% 4%;
      --foreground: 0 85% 97%;
      --btn-background: 345 30% 12%;
      --btn-background-hover: 345 30% 17%;
    }
  }
}

@layer base {
  * {
    @apply border-foreground/10;
  }
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
